/* Global */


:root {
    /* Color */

    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-cyan: #00cbcc;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-purple: #ea80fc;

    /* Font size */

    --font-large: 32px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */

    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */

    --size-border-radius: 4px;

    /* Animation */

    --animation-duration: 300ms; /* 애니메이션 시간은 250~350ms가 표준 */
}


/* Universal tags */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    width: 100%;
	height: 100vh;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default; /* 글자 위 마우스 올릴 시 I 표시 없애기 */
    cursor: none;
    background: #000000;
}

a {
    text-decoration: none; /* 밑줄 없애기 */
    color: var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.none {
    display: none;
}


  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0;
}

/* loding */

.loading {
    text-transform:uppercase;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight:bold;
    font-size:240px;
    text-align:center;
    height:240px;
    line-height: 240px;
    vertical-align:bottom;
    position:absolute;
    left:0;
    right:0;
    top:200px;
    bottom:0;
    display:block;
}

.loading.none {
    display: none;
}
    
@keyframes wave-animation{
    0%{background-position:0 bottom;}
    50%{background-position:200px left;}
    100%{background-position:200px bottom;}
}
@keyframes loading-animation{
    0%{background-size:200px 0px;}
    50%{background-size: 200px 100px;}
    100%{background-size:200px 200px;}
}
.wave{
    background-image:url('./imgs/취업사진.jpg');
    background-clip:text;
    -webkit-background-clip: text;
    color:rgba(0,0,0,0);
    text-shadow:0px 0px rgba(255,255,255,0.06);
    animation:wave-animation 1s infinite linear, loading-animation 10s linear alternate;
    background-size:200px 200px;
    background-repeat:repeat-x;
    opacity:1;
}

/* mouse */

.mouse {
    position: absolute;
    width: 25px; height: 25px;
    background: red;
    border-radius: 50%;
    z-index: 500;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: transform 0.3s ease-in-out;
}
.mouse.active {
    transform: scale(10);
}

/* Navbar */

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1; /* navbar를 가장 위에 표시 */
}

#navbar.navbar--dark {
    background-color: var(--color-cyan);
    padding: 8px;
    color: var(--color-black);
}

#navbar img {
    width: 45px;
    height: 45px;
}

#navbar a {
    margin-left: 5px;
    color: var(--color-white);
}

#navbar.navbar--dark a {
    color: var(--color-black);
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;
}

.navber__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    z-index: 10;
}

.navber__menu__item.active {
    border: 1px solid var(--color-white);
}

.navber__menu__item:hover {
    border: 1px solid var(--color-blue);
    border-radius: var(--size-border-radius);
    background-color: var(--color-orange);
}

.navbar__toggle__btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-black);
    display: none;
}

/* Home */

#home{
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__container {
    transform: translate(0, 0) perspective(600px) rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.home__container img:hover {
    transform: scale(1.025);
}

.home__container.Text {
    position: absolute;
    left: 50%; bottom: 50%;
    transform: translate3d(-50%, 68%, 150px);
    background: rgba(0,0,0,0.0);
    padding: 2vw;
    text-align: center;
    border-radius: 2px;
    white-space: nowrap;
}

.home__avatar {
    width: 25%;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-blue);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-blue);
    border-radius: var(--size-border-radius);
}

.home__contact:hover {
    transform: scale(1.1);
    transition: all var(--animation-duration) ease-in;
}

/* Section common */

.section {
    text-align: center;
    padding: 50px;
    margin: auto;
}

.section__container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

/* About */

#about span {
    color: var(--color-white);
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px; /* line-height를 높이만큼 지정하게 되면  아이콘이 자동으로 중간으로 온다*/
    font-size: 70px;
    border: 1px solid var(--color-pink);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-pink);
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon i:hover {
    color: var(--color-blue);
    transform: rotate(30deg) scale(1.1);
}

.major1 {
    position: relative;
}
.major2 {
    position: relative;
}
.major3 {
    position: relative;
}

.major__title {
    display: inline-block;
    font-size: 20px;
    font-weight: var(--weight-bold);
}

.major__title.h {
    position: absolute;
    left: 4%;
    top: 73%;
}

.major__title.c {
    position: absolute;
    left: 4.7%;
    top: 73%;
}

.major__title.j {
    position: absolute;
    left: 2.7%;
    top: 73%;
}

.job {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.job img {
    width: 80px;
    height: 80px;
    border-radius: 30%;
}

.job_description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

/* Skill */

@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@keyframes load{0%{stroke-dashoffset:0}}

.progress {
    position: relative;
    display: inline-block;
    min-height: 15vw;
    padding: 0;
    text-align: center;
}

    .progress > li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
    }
    .progress > li::before {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            bottom: -1rem;
            font-weight:400;
    }
    .progress > li::after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    svg {
        width: 10rem;
        height: 10rem;
    }
    svg:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
    }
    svg:nth-child(2) path {
            fill: none;
            stroke-width: 10;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity:.9;
            animation: load 10s;
    }

/* Work */

.content__item {
    width: 50%;
    max-width: 70vw;
    margin: 10vw 0;
    /* background: rgba(255,255,255,0.3); */
    text-align: right;
    position: relative;
    padding-top: 10vw;
}
.content__item:nth-child(even){
    margin-left: auto;
    text-align: left;
}
.content__item__num {
    font-family: 'Lato';
    font-size: 25vw;
    opacity: 0.07;
    position: absolute;
    right: -5vw; top: -10vw;
    color: #fff;
}
.content__item:nth-child(even) .content__item__num {
    right: auto;
    left: -5vw;
}
.content__item__title {
    padding-bottom: 1vw;
    font-size: 2vw;
}
.content__item__imgWrap {
    width: 100%;
    padding-bottom: 56%;
    position: relative;
    overflow: hidden;
}

.content__item__img {
    position: absolute;
    left: -10%; top: -10%;
    width: 120%;
    height: 120%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}
.content__item__desc {
    font-size: 4vw;
    line-height: 1.4;
    word-break: keep-all;
    margin-top: -6vw;
    margin-right: -3vw;
    position: relative;
    z-index: 100;
    color: #00C2AB;
}
.content__item:nth-child(even) .content__item__desc {
    margin-right: 0;
    margin-left: -3vw;
}

.content__item:nth-child(1) .content__item__img {
    background-image: url(./imgs/projects/mega.jpg);
}
.content__item:nth-child(2) .content__item__img {
    background-image: url(./imgs/projects/web1.jpg);
}
.content__item:nth-child(3) .content__item__img {
    background-image: url(./imgs/projects/web2.jpg);
}
.content__item:nth-child(4) .content__item__img {
    background-image: url(./imgs/projects/gamejpg.jpg);
}
.content__item:nth-child(5) .content__item__img {
    background-image: url(./imgs/projects/homeplus.jpg);
}


.reveal > a,
        .reveal > span {
            opacity: 0;
        }
        .reveal.show > a,
        .reveal.show > span {
            animation: opacity 1000ms linear forwards;
        }
        .reveal {
            position: relative;
        }
        .reveal::before {
            content: '';
            position: absolute;
            right: 0; top: 0;
            width: 0; height: 100%;
            z-index: 100;
        }
        .reveal.reveal-two::after {
            content: '';
            position: absolute;
            right: 0; top: 0;
            width: 0; height: 100%;
            z-index: 100;
            background-color:orange;
        }
        .reveal.show::before {
            animation: reveal 1000ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.reveal-RTL.show::before {
            animation: reveal-RTL 1000ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.reveal-TTB.show::before {
            animation: reveal-TTB 1000ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.reveal-BTT.show::before {
            animation: reveal-BTT 1000ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.show::after {
            animation: reveal 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.reveal-RTL.show::after {
            animation: reveal-RTL 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.reveal-TTB.show::after {
            animation: reveal-TTB 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
        }
        .reveal.reveal-BTT.show::after {
            animation: reveal-BTT 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
        }

        @keyframes opacity {
            0%   {opacity: 0;}
            60%  {opacity: 0;}
            70%  {opacity: 1;}
            100% {opacity: 1;}
        }

        @keyframes reveal {
            0%   {width: 0;    left: 0;}
            50%  {width: 100%; left: 0;}
            80%  {width: 100%; left: 0;}
            100% {width: 0;    left: 100%;}
        }

        @keyframes reveal-RTL {
            0%   {width: 0;    right: 0;}
            50%  {width: 100%; right: 0;}
            80%  {width: 100%; right: 0;}
            100% {width: 0;    right: 100%;}
        }

        @keyframes reveal-TTB {
            0%   {width: 100%; height: 0;    top: 0;}
            50%  {width: 100%; height: 100%; top: 0;}
            80%  {width: 100%; height: 100%; top: 0;}
            100% {width: 100%; height: 0;    top: 100%;}
        }

        @keyframes reveal-BTT {
            0%   {width: 100%; height: 0;    top: auto; bottom: 0;}
            50%  {width: 100%; height: 100%; top: auto; bottom: 0;}
            80%  {width: 100%; height: 100%; top: auto; bottom: 0;}
            100% {width: 100%; height: 0;    top: auto; bottom: 100%;}
        }

/* Contact */

#contact {
    margin-top: 150px;
}

.contact__links i {
    font-size: 8em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
        2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
}
.linkedin {
    animation-delay: 0.3s;
}
    .github {
    animation-delay: 0.1s;
}

    @keyframes animate {
    from {
        filter: hue-rotate(0deg);
}
    to {
        filter: hue-rotate(360deg);
}
}

/* For below 768 screen width */
@media screen and (max-width: 768px) {

:root {
 /* Font size */
--font-large: 30px;
--font-medium: 18px;
--font-regular: 16px;
--font-small: 14px;
--font-micro: 12px;
}

.navbar__toggle__btn {
    display: block;
    top: 21px;
    right: 24px;
    font-size: var(--font-medium);
    color: var(--color-white);
}

#navbar {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-white);
}

#navbar a {
    margin-left: 5px;
}

#navbar.navbar--dark {
    padding: 16px;
}

#navbar.navbar--dark a {
    color: var(--color-black);
}

.navbar__box {
    position: absolute;
    top: 19%;
    right: -23%;
}

.navbar__menu {
    display: none;
}

.navbar__menu.open {
    display: flex;
}

.navber__menu__item {
    font-size: var(--font-small);
    width: 13%;
}

.navbar__logo {
    font-size: 20px;
}

.section {
    padding: 16px;
    padding-top: 10px;
}

.section__container {
    padding-top: 60px;
}

#navbar img {
    width: 30px;
    height: 30px;
}

.navbar__box {
    width: 100%;
    text-align: center;
}

.about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
}

.major {
    margin-bottom: 30px;
}

.major__icon {
    margin: auto;
}

.major__title.h {
    position: absolute;
    left: 46%;
    top: 73%;
}

.major__title.c {
    position: absolute;
    left: 47.5%;
    top: 73%;
}

.major__title.j {
    position: absolute;
    left: 43.5%;
    top: 73%;
}

.skillset {
    flex-direction: column;
}

.category__btn {
    margin: 3px 0;
    width: 80%;
}

.project {
    flex-grow: 1; /* 남은 레이아웃 영역을 채울 수 있다*/
}

.testimonial {
    flex-direction: column;
    align-items: center;
}

.testimonial__avatar {
    width: 120px;
    height: 120px;
}

.testimonial__speech-bubble {
    order: 1; /* 사진과 textbox 순서를 바꾼다 */
}

.testimonial__avatar:nth-child(odd),
.testimonial__avatar:nth-child(even) {
    margin: 0px;
    margin-bottom: 8px;
}

.arrow-up {
    width: 35px;
    height: 35px;
    font-size: 25px;
    bottom: 16px;
    right: 14px;
}

.contact__links i {
    font-size: 3em;
}

}


